/* CSS declarations go here */

body {
	width: 80%;
    margin: auto;
    text-align: center;
}

.ss-q-short {
    width: 50%;
    height: 20px;
}

.ss-q-long {
	width: 50%;
}

#navigation-table{
	display: inline-block;
}