<head>
  <title>Meow and Forever</title>
</head>
<body>
  <h1>Meow and Forever</h1>

  <script type="text/javascript">var submitted=false;</script>
	<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {thankyou();}"></iframe>
	<form action="https://docs.google.com/forms/d/1ntqFAGAUp5Q5M6BFQL2uIR8ghYtMcNXKExUgKaV_miM/formResponse" method="POST" target="hidden_iframe" onsubmit="submitted=true;" id="google-form" class="google-form">
  	<ol role="list" class="ss-question-list" style="padding-left: 0">
		<div class="ss-form-question errorbox-good" role="listitem">
			<div dir="auto" class="ss-item ss-item-required ss-text">
				<div class="ss-form-entry">
					<label class="ss-q-item-label" for="entry_1978234705">
						<div class="ss-q-title">Full Name
							<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
							<span class="ss-required-asterisk" aria-hidden="true">*</span>
						</div>
						<div class="ss-q-help ss-secondary-text" dir="auto"></div>
					</label>
					<input type="text" name="entry.1978234705" value="" class="ss-q-short" id="entry_1978234705" dir="auto" aria-label="Full Name  " aria-required="true" required="" title="">
					<div class="error-message" id="1554555010_errorMessage"></div>
					<div class="required-message">This is a required question</div>
				</div>
			</div>
		</div> 
		<div class="ss-form-question errorbox-good" role="listitem">
			<div dir="auto" class="ss-item ss-item-required ss-text">
				<div class="ss-form-entry">
					<label class="ss-q-item-label" for="entry_2141565010">
					<div class="ss-q-title">Email Address
						<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
						<span class="ss-required-asterisk" aria-hidden="true">*</span>
					</div>
					<div class="ss-q-help ss-secondary-text" dir="auto"></div>
					</label>
					<input type="email" name="entry.2141565010" value="" class="ss-q-short" id="entry_2141565010" dir="auto" aria-label="Email Address  Please check your email!" aria-required="true" required="" title="Please check your email!">
					<div class="error-message" id="983933016_errorMessage">Please check your email!</div>
					<div class="required-message">This is a required question</div>
				</div>
			</div>
		</div> 
		<div class="ss-form-question errorbox-good" role="listitem">
			<div dir="auto" class="ss-item ss-item-required ss-paragraph-text">
				<div class="ss-form-entry">
				<label class="ss-q-item-label" for="entry_859391114">
					<div class="ss-q-title">Share to us your favourite cat story!
						<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
						<span class="ss-required-asterisk" aria-hidden="true">*</span>
					</div>
					<div class="ss-q-help ss-secondary-text" dir="auto"></div>
				</label>
				<textarea name="entry.859391114" rows="8" cols="0" class="ss-q-long" id="entry_859391114" dir="auto" aria-label="Share to us your favourite cat story!  " aria-required="true" required=""></textarea>
				<div class="error-message" id="708627051_errorMessage"></div>
				<div class="required-message">This is a required question</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="draftResponse" value="[,,&quot;-53180550790190107&quot;]">
		<input type="hidden" name="pageHistory" value="0">
		<input type="hidden" name="fvv" value="0">
		<input type="hidden" name="fbzx" value="-53180550790190107">
		
		<div class="ss-item ss-navigate">
			<table id="navigation-table">
				<tbody>
					<tr>
						<td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
							<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
							<div class="ss-password-warning ss-secondary-text">Never submit passwords through Google Forms.</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		</ol>
	</form>
	<div class="thank-you" id="thank-you" style="display: none">
		Thank you for submitting! :)

		Meow and Forever~
	</div>
	<script type="text/javascript">
		var submitted=false;
		function thankyou(){
			console.log("thank you here");
			var googleform = document.getElementById('google-form');
			googleform.style.display = 'none';

			var thankyou = document.getElementById('thank-you');
			thankyou.style.display = 'block';
		}
	</script>
</body>
